@include block("header") {
	border-top: 3px solid $red;
	background-color: $bg-dark-blue;
	padding: 6px 0px;
	@include media-breakpoint-up(sm) {
		padding: 0px;
		border-top: 5px solid $red;
	}

	@include element("logo") {
		display: block;
		width: 80px;
		height: 44px;
		background-image: url('#{$img}/singtel-logo-white.png');
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		line-height: normal;
		cursor: pointer;
	}
	
	@include block("menu") {
		color: $white;
		@include element("item") {
			display: block;
			border-bottom: 5px solid transparent;
			font-family: "AvenirLTStd";
			font-weight: bold;
			color: $white;
			text-decoration: none;
			&:hover {
				border-bottom: 5px solid $txt-gray;
			}
			@include media-breakpoint-up(sm) {
				display: inline-block;
				padding: 41px 0px 15px 0px;
			}
		}
	}

	@include element("icon") {
		// width: 40px;
		// height: 40px;
		// border-radius: 50%;
		// background-color: $white;
		// cursor: pointer;
		position: relative;
	}

	@include block("pill") {
		position: absolute;
		right: -5px;
		top: -5px;
		font-family: 'AvenirLTStd';
		font-weight: bold;
		font-size: $vs;
		background-color: $red;
		color: $white;
		border-radius: 50%;
		height: 15px;
		width: 15px;
		text-align: center;
		line-height: 15px;
	}
	.navbar-brand {
		width: 100%;
		left: 0;
		text-align: center;
		margin: auto;
	}
	.navbar-cart {
		display: block;
		right: 20px;
		top: 15px;
		text-align: right;
		.a {
			color: black;
		}
	}

	.navbar-right {
		margin: 0;
	}

	.navbar-right > li,
	.navbar-header {
		float: left;
	}

	.navbar-right > li > a {
		padding-top: 15px;
		padding-bottom: 15px;
	}

	.collapsing,
	.collapse.in {
		// top: 50px;
		// position: absolute;
		// width: 100%;
	}

	//mobile version
	.navbar-brand-mobile {
		left: calc(50% - 45px);
		padding: 0;
	}
	.navbar-cart-mobile {
		left: calc(100% - 70px);
		padding: 0;
	}

	.custom-toggler.navbar-toggler {
		border-color: transparent;
	}

	.custom-toggler .navbar-toggler-icon {
		background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,0,0, 0.7)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
	}
}
